<body class="es-main-default es-nav-default cd-design">



<div class="es-wrap">


    <header class="es-header navbar">
        <div class="navbar-header">
            <div class="visible-xs  navbar-mobile">
                <a href="javascript:;" class="navbar-more js-navbar-more">
                    <i class="es-icon es-icon-menu"></i>
                </a>
                <div class="html-mask"></div>
                <div class="nav-mobile">
                    <form class="navbar-form" action="/app.php/search" method="get">
                        <div class="form-group">
                            <input class="form-control" placeholder="搜索" name="q">
                            <button class="button es-icon es-icon-search"></button>
                        </div>
                    </form>

                    <ul class="nav navbar-nav">

                        <li class="">
                            <a href="/app.php/teacher" >师资力量 </a>
                        </li>
                        <li class="">
                            <a href="/app.php/page/questions" >常见问题 </a>
                        </li>
                        <li class="">
                            <a href="/app.php/page/aboutus" >关于我们 </a>
                        </li>          </ul>
                </div>
            </div>
            <a href="/app.php/" class="navbar-brand">
                admin
            </a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav clearfix hidden-xs " id="nav">

                <li class="">
                    <a href="/app.php/teacher" >师资力量 </a>
                </li>
                <li class="">
                    <a href="/app.php/page/questions" >常见问题 </a>
                </li>
                <li class="">
                    <a href="/app.php/page/aboutus" >关于我们 </a>
                </li>      </ul>
            <div class="navbar-user ">
                <ul class="nav user-nav">
                    <li class="user-avatar-li nav-hover">
                        <a href="javascript:;" class="dropdown-toggle">
                            <img class="avatar-xs" src="/assets/img/default/avatar.png">
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header">admin</li>
                            <li><a href="/app.php/user/1"><i class="es-icon es-icon-person"></i>个人主页</a></li>
                            <li><a href="/app.php/settings"><i class="es-icon es-icon-setting"></i>个人设置</a></li>
                            <li class="hidden-lg user-nav-li-my">
                                <a href="/app.php/my">
                                    <i class="es-icon es-icon-eventnote"></i>我的教学              </a>
                            </li>
                            <li><a href="/app.php/my/orders"><i class="es-icon es-icon-accountwallet"></i>账户中心</a></li>

                            <li><a href="/app.php/admin/"><i class="es-icon es-icon-dashboard"></i>管理后台</a></li>

                            <li class="hidden-lg"><a href="/app.php/notification"><span class="pull-right num"></span><i class="es-icon es-icon-notificationson"></i>通知</a></li>
                            <li class="hidden-lg"><a href="/app.php/message/"><span class="pull-right num"></span><i class="es-icon es-icon-mail"></i>私信</a></li>
                            <li class="user-nav-li-logout"><a href="/app.php/logout"><i class="es-icon es-icon-power"></i>退出登录</a></li>
                        </ul>
                    </li>
                    <li class="visible-lg">
                        <a href="/app.php/my">
                            我的教学
                        </a>
                    </li>
                    <li class="visible-lg nav-hover">
                        <a><i class="es-icon es-icon-mail"></i></a>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/app.php/notification">
                                    <span class="pull-right num"></span>
                                    <i class="es-icon es-icon-notificationson"></i>通知
                                </a>
                            </li>
                            <li>
                                <a href="/app.php/message/">
                                    <span class="pull-right num"></span>
                                    <i class="es-icon es-icon-mail"></i>私信
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right hidden-xs hidden-sm" action="/app.php/search" method="get">
                    <div class="form-group">
                        <input class="form-control js-search" value="" name="q" placeholder="搜索">
                        <button class="button es-icon es-icon-search"></button>
                    </div>
                </form>
            </div>
        </nav>
    </header>
    <div class="container cd-container">
        <div class="cd-content">
            <div class="cd-sidebar">
                <ul class="cd-sidebar__list">
                    <li class="cd-sidebar__heading">
                        账户中心
                    </li>
                    <li class="cd-sidebar__item ">
                        <a href="/app.php/my/orders">我的订单</a>
                    </li>
                    <li class="cd-sidebar__item ">
                        <a href="/app.php/my/cards">优惠券</a>
                    </li>

                    <li class="cd-sidebar__heading">
                        个人设置
                    </li>
                    <li class="cd-sidebar__item ">
                        <a href="/app.php/settings">个人信息</a>
                    </li>
                    <li class="cd-sidebar__item ">
                        <a href="/app.php/settings/approval/submit">实名认证</a>
                    </li>
                    <li class="cd-sidebar__item active">
                        <a href="/app.php/settings/security">安全设置</a>
                    </li>
                </ul>
            </div>
            <div class="cd-main">
                <div class="cd-main__heading">
                    <div class="cd-main__title">
                        安全设置
                    </div>
                </div>
                <div class="cd-main__body">
                    <div class="cd-security cd-security-warning cd-mb32">
    <span class="security-icon">
      <i class="cd-icon cd-icon-warning"></i>
    </span>
                        <span class="security-title">安全等级</span>
                        <span class="security-progress done"></span>
                        <span class="security-progress done"></span>
                        <span class="security-progress "></span>
                        <span class="security-level">中</span>
                    </div>

                    <div class="cd-setting">
                        <span class="setting-icon"><i class="cd-icon cd-icon-lock"></i></span>
                        <span class="setting-title">登录密码</span>
                        <span class="setting-content">经常更改密码有助于保护您的帐号安全</span>
                        <span class="setting-action">
              <span class="cd-setting-status cd-setting-status-done">已设置</span>
        <button class="btn cd-btn cd-btn-default" data-url="/app.php/settings/password" data-toggle="modal" data-target="#modal">
          修改
        </button>
          </span>
                    </div>

                    <div class="cd-setting">
                        <span class="setting-icon"><i class="cd-icon cd-icon-payment"></i></span>
                        <span class="setting-title">支付密码</span>
                        <span class="setting-content">用于支付时的二次密码校验，加强账户安全性</span>
                        <span class="setting-action">
              <span class="cd-setting-status">未设置</span>
        <button class="btn cd-btn cd-btn-default" data-url="/app.php/settings/pay_password" data-toggle="modal" data-target="#modal">设置</button>
          </span>
                    </div>

                    <div class="cd-setting">
                        <span class="setting-icon"><i class="cd-icon cd-icon-safe"></i></span>
                        <span class="setting-title">安全问题</span>
                        <span class="setting-content">设置安全问题，保护帐号密码安全，也可用于找回支付密码</span>
                        <span class="setting-action">
              <span class="cd-setting-status">未设置</span>
        <button class="btn cd-btn cd-btn-default" data-url="/app.php/settings/security_questions" data-toggle="modal" data-target="#modal">设置</button>
          </span>
                    </div>


                    <div class="cd-setting">
                        <span class="setting-icon"><i class="cd-icon cd-icon-email"></i></span>
                        <span class="setting-title">邮箱设置</span>
                        <span class="setting-content">
              已设置邮箱：a***@admin.com
          </span>
                        <span class="setting-action">
                        <span class="cd-setting-status cd-setting-status-done">已验证</span>
          <button class="btn cd-btn cd-btn-default" data-url="/app.php/settings/email" data-toggle="modal" data-target="#modal">修改</button>
                  </span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="es-footer-link">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <footer class="es-footer">
        <div class="copyright">
            <div class="container">
                Powered by <a href="http://www.edusoho.com/" target="_blank">EduSoho v8.2.8</a>
                ©2014-2017 <a class="mlm" href="http://www.howzhi.com/" target="_blank">好知网</a>
                <a class="mlm" href="/app.php/archive/course">课程存档</a>
                <div class="mts">
                </div>
            </div>
        </div>
    </footer>


</div>